{% extends 'base.html' %}

{% block content %}
	<select>
		<option>Elige un Autor</option>
		{% for autor in autores %}
			<option value="{{autor.id}}">{{autor.nombre}}</option>
		{% endfor %}
	</select>

	<div id="datos">
		

	</div>
{% endblock %}


{% block js %}

<script>
	
	$('select').on('change',inicio);

	function inicio(){
		var id = $(this).val();
		$.ajax({
			data : {'id':id},
			url: '/libros/busqueda_ajax/',
			type: 'get',
			success: function(data){
				var html = ""
				for(var i = 0; i<data.length ; i++){
					html += '<ul><li>'+data[i].fields.nombre+'</li><li>'+data[i].fields.resumen+'</li></ul>'
				}
				$('#datos').html(html);
			}

		});
	}

</script>

{% endblock %}